.skillsBlock {
    height: auto;
    background-color: lightcoral;
    border: 1px solid;
}

.skillsContainer {
    border: 1px solid;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.title{
    border: solid 1px;
    background-color: beige;
}
.skills{
    border: solid 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
}