.distantWorkBlock {
    height: 300px;
    background-color: mediumslateblue;
    display: flex;
    align-items: center;
}

.distantWorkContainer {
    height: 50%;
    flex-direction: column;
    background-color: #d4d034;
}

.header {
    background-color: antiquewhite;
}

.text {
    background-color: antiquewhite;
}